<ion-view title="Jobs">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ul class="list">
      <li class="item">
        <button ng-click="JobCtrl.previous()">Previous</button>
        <button ng-click="JobCtrl.next()">Next</button>
      </li>
      <!--<li>-->
      <!--<button ng-repeat="x in JobCtrl.mydata">{{x}}</button>-->
      <!--</li>-->
      <li class="item noWhiteSpace">
        <p>Current Page Number: <strong>{{ JobCtrl.pageNumber + 1 }}</strong></p>
        <p>Total Number of Pages: <strong>{{ JobCtrl.totalPages }}</strong></p>
      </li>
    </ul>

    <ul class="list">
      <li class="item card" ng-repeat="x in JobCtrl.mydata" ng-click="JobCtrl.individualDataShow({{x.jobId}})" on-swipe-left="JobCtrl.leftSwipe({{x.jobId}}, $index)" on-swipe-right="JobCtrl.rightSwipe({{x.jobId}}, $index)">{{x.jobId}}
        <!--<ion-nav-view></ion-nav-view>-->
      </li>
    </ul>

    <div class="w3-progress-container">
      <div class="w3-progressbar w3-green" style="width: {{JobCtrl.width}}px"></div>
    </div>
    <!--<p style="font-size:{{JobCtrl.font}}">Style</p>-->
    <!--<ul class="list">
      <button class="item" ng-repeat="x in JobCtrl.num">{{x}}</button>
    </ul>-->
  </ion-content>
</ion-view>
