<!--
<ion-view view-title="Simple Application Page 1">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Page 1</div>
      <div class="item item-body">
        <button class="button button-positive" ui-sref="page2">Take me to Page 2</button>
      </div>
    </div>
  </ion-content>
</ion-view>
-->
<h1>welcome to page 1</h1>
<button ui-sref="page2">go to page2</button>

<button ui-sref="page1.level1">Go to next level : 1</button>
<button ui-sref="page1.level1_2">Go to next level: 1_2</button>
<ui-view></ui-view>
